= semantic_menu :class => "pills" do |root|
  - root.add t('.home'), root_path
  - root.add t('.blog'), blog_index_path
  - root.add t('shared.menu.main.questions'), questions_path
  - root.add t('shared.menu.main.programs'), programs_path
  - root.add t('.faq', :default => 'FAQ'), faq_path
  - root.add t('.support'), support_questions_path
  
