= semantic_menu :class => "nav secondary-nav" do |root|
  - if current_user
    - root.add current_user.username, user_path(current_user)
    - root.add t('.log_out'), logout_path
  - else
    - root.add t('.log_in'), login_path
    - root.add t('.sign_up'), new_user_registration_path
